**/__pycache__/
**/kafka/
**/tmp/
**/.ipynb_checkpoints/
**/.mypy_cache/
**/.pytest_cache/
*.py[cod]
.idea/
.vscode/
.env*
.python-version
venv/
*.egg-info
docker-compose.override.yml
/run.py
NOTEPAD.md
.venv
/pyvenv.cfg
**/*.env
.nicegui/
**/_000_test/
